@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

/*----Play Button----*/
.play {
    width: 300px;
    height: 50px;
    margin: auto;
    text-align: center; 
    
}

#playbtn {
    height: 50px;
    width: 100px;
    font-family: 'Yeon Sung', sans-serif;
    font-size: 40px;
    color: #fff;
    background-color: #3eb9bb;
    border-radius: 15px;
}

/*----Action----*/
.action {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Yeon Sung', sans-serif;
    font-size: 30px;
}
 
/*----Colors----*/
.highlight {
    background-color: #e84610;
    
}
.normal {
    background-color: #3eb9bb;
}

/*----Numbers----*/
.numbers {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
    
}

.numbers > button {
    height: 100px;
    width: 100px;
    margin: 0;
    border: 0;
    font-size: 50px;
    color: #fff;
    font-family: 'Yeon Sung', sans-serif;
    border-radius: 5px;
}
.numbers > button:disabled {
   
}

/*----Score----*/
.score {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Yeon Sung', sans-serif;
}




